@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

html {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    font-family: "Roboto Condensed", sans-serif;
    text-align: left;
    text-weight: light;
}

h1 {
    font-weight: bold;
    font-size: 8em;
    font-family: "Oswald", sans-serif;
}

h2 {
    font-family: "Oswald", sans-serif;
    font-weight: normal;
    font-size: 4em;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(214, 31, 46);
}

p {
    font-size: 2em;
}

li {
    font-size: 2em;
    padding: 0.5em;
}

img {
    max-width: 50vw;
}

