#oneErrorToRuleThemAll {
    font-size: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#oneErrorToRuleThemAll svg {
    width: 40vw;
}

#oneErrorToRuleThemAll a {
    color: Crimson;
    font-size: 4em;
}

#oneErrorToRuleThemAll div {
    width: 40vw;
}

@media screen and (max-width: 991px) {
    #oneErrorToRuleThemAll svg {
	display: none;
	height: 0;
    }

    #oneErrorToRuleThemAll {
	flex-direction: column;
	height: initial;
	font-size: 0.5em;
    }

    #oneErrorToRuleThemAll div {
	width: 90vw;
    }
}
