#container {
    /* vertical centering cannot be in html tag, 
since this would override global styles,
resulting in blog contents covering up header. */
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(30, 30, 30);
}

#icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

svg.navicon {
    width: 15vw;
}

svg.navicon:hover path {
    fill: rgb(214, 31, 46);
}

svg.logo {
    width: 30vw;
}

@media screen and (max-width: 991px) {
    #container {
	flex-direction: column;
    }

    #icons {
	flex-direction: column;
    }

    svg.navicon {
	width: auto;
	height: 15vh;
    }

    svg.logo {
	height: 25vh;
	width: auto;
    }
}
