#timeline ul {
  list-style: none;
}

#timeline li {
  position: relative;
  padding: 10px;
}

#timeline li a {
    color: crimson;
}

#timeline li:before {
  content: '';
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: crimson;
  position: absolute;
  left: -35px;
  top: 24%;
  transform: translateY(-40%);
}

#timeline li:after {
  content: '';
  width: 2px;
  height: 100%;
  background: crimson;
  position: absolute;
  left: -28px;
  top: 24%;
}
