/* Design for desktops. */
#layout {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    overflow-x: hidden;
}

#inner {
    background-color: white;
    height: auto;
    padding-left: 40vw;

    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: right;

    padding-top: 2em;
    padding-bottom: 2em;
    padding-right: 5em;
    text-align: justify;
}

#inner h2 {
    font-size: 2em;
    text-align: left;
}

#inner h1 {
    font-size: 3em;
    text-align: left;
}

#inner ul {
    font-size: inherit;
}

#inner li {
    font-size: inherit;
}

/* Design for large tablets */
@media screen and (max-width: 991px) {
    #layout {
	flex-direction: column;
	justify-content: center;
    }

    #inner {
	padding-left: 2em;
	padding-top: 5em;
	padding-right: 2em;
    }
    
    #inner h1 {
	font-size: 2em;
    }

    #inner h2 {
	font-size: 1.5em;
    }

    #inner p {
	font-size: 1em;
    }
}
