#linkovje {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1em;
}

#linkovje a {
    padding-bottom: 0.5em;
}

#nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 30vw;
    max-width: 10em;
    font-size: 2em;
    background-color: rgb(30, 30, 30);
    position: fixed;
    left: 0;
    top: 0;

    z-index: 10;
}

#logo {
    width: 10vw;
    max-width: 10em;
}

#links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#current svg {
    width: 15vw;
    max-width: 10em;
}

#other {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

#nav a {
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

#textmain {
    display: none;
}

#nav a:hover {
    color: rgb(214, 31, 46);
}

@media screen and (max-width: 500px) {
    #nav {
	font-size: 1em;
    }
}

@media screen and (max-width: 991px) {
    #textmain {
	display: block;
	padding-left: 1em;
	padding-right: 0;
    }
    
    #current svg {
	display: none;
    }

    #logo {
	display: none;
    }

    #links {
	flex-direction: row;
    }

    #linkovje {
	flex-direction: row;
	padding-bottom: 0;
	padding-right: 0.5em;
    }

    #linkovje a {
	padding: 0;
	padding-right: 0.5em;
	font-size: 0.75em;
    }

    #nav {
	width: 100vw;
	max-width: 100vw;
	height: 2em;
    }

    a {
	display: block;
	padding-left: 0.25em;
	padding-right: 0.5em;
    }

    #other {
	flex-direction: row-reverse;
	justify-content: space-between;
    }
}
